#app {
	margin: 0 auto;
	max-width: 750px;
}

.header {
	width: 100%;
	height: 6.24rem;
}

.btn {
	border: none;
	border-radius: .5rem;
	width: 5.4rem;
	height: 1rem;
	background-color: #fff;
	line-height: 1rem;
	text-align: center;
	font-size: .34rem;
	color: #ff3184;
}

.btn-primary {
	background-color: #ff3184;
	color: #fff;
}
